* {
    margin: 0;
    padding: 0;
}
header {
    width: 100%;  
}
header .title-nav {
   width: 100%;
   height: 47px;
   border-bottom: 1px solid #ccc; 

}
header .title-nav .title {
    position: relative;
    float: right;
    width: 259px;
    margin-right: 70px;
}
.title-nav .title .title-left {
    float: left;
}
.title-nav .title .title-right {
    float: right;
    line-height: 47px;
}

.title-nav div {
    float: left;
    color: #999;
    font-size: 14px;
    line-height: 47px;
}
.title-nav div a:hover {
    color: black;
    text-decoration: underline;
}
.title-nav div a {
    margin: 0 5px;
}
.title-nav .title span {
    font-size: 23px;
}
.title-nav .title span:hover {
    color: black;
}
.title-nav .title-right .iconfont1 {
    margin:0 27px;
}
nav {
    position: relative;
    width: 100%; 
    height: 100px;
    border-bottom: 1px solid #ccc;
    clear: both;
}
nav .nav-logo img {
    float: left;
    width: 50px;
    height: 50px;
    margin-left: 346px;
    margin-top: 27px;
    margin-right: 450px;
}
nav .nav-list ul{
    float: right;
    overflow: hidden;
    margin: 0;
    padding: 0; 
    margin-right: 58px;
}
.nav-list ul li {
    position: relative;
    float: left;
    margin-right: 50px; 
     font-size: 17px;
    font-weight: 600;
    color: black;
     height: 100px; 
     line-height: 100px;
}
.nav-list li .red {
    display: block;
    width: 100%;
    height: 5px;
    background-color: red;
}
.nav-list li:nth-last-child(1) .nav-search {
width: 212px;
height: 40px;
line-height: 26px;
border: 1px solid #ccc;
border-radius: 5px;
vertical-align: middle;
display: inline-block;
padding: 6px 0;
box-sizing: border-box;
}
.nav-list li:nth-last-child(1) div .iconfont3 {
    width: 31px;
    height: 26px;
    border-right: 1px solid #ccc;
    display: inline-block;
    vertical-align: middle;
    font-weight: normal;
    padding-left: 15px;
}
.nav-list li:nth-last-child(1) div input {
    display: inline-block;
    border: 0;
    height: 26px;
    line-height: 26px;
    width: 158px;
    vertical-align: middle;
    color: #cccccc;
    font-size: 15px;
    text-indent: 10px;
    outline: 0;
}
.nav-list li span {
    position: absolute;
    top: 95px;
    left: 3px;
    width: 100%;
    height: 5px;
}
nav .active {
    background-color: red;
}
nav .nav-list-content {
    width: 100%;
    height: 380px;
    position: absolute;
    top: 101px;
    left: 0px;
    z-index: 10;
}
 .nav-list-content .over-part1 ul {
    float: left;
    border-right: 1px solid #ccc;
    height: 300px;
}
.nav-list-content .over-part1 ul:nth-child(5) {
    height: 165px;

}
nav .nav-list-content .over-part1 ul:nth-child(1) {
    width: 130px;
}
nav .nav-list-content .over-part1 ul:nth-child(2) {
    width: 170px;
}
nav .nav-list-content .over-part1 ul:nth-child(3) {
    width: 333px;
}
nav .nav-list-content .over-part1 ul:nth-child(4),
nav .nav-list-content .over-part1 ul:nth-child(5),
nav .nav-list-content .over-part1 ul:nth-child(6)
 {
    width: 170px;
}
.nav-list-content .over-part1 li:nth-child(1) {
    font-weight: bold;
    font-size: 14px;
}
.nav-list-content .over-part1 ul li {
    font-size: 14px;
    margin: 10px 0;
}
.over-part1 {
    padding-top: 35px;
    box-sizing: border-box;
}
.nav-list-content .over-part1>ul:nth-child(1) li {
    margin: 0px 0px;
}
.over-part1 ul:nth-child(1) li:nth-child(1),
.over-part1 ul:nth-child(1) li:nth-child(7),
.over-part1 ul:nth-child(1) li:nth-child(8),
.over-part1 ul:nth-child(1) li:nth-child(9),
.over-part1 ul:nth-child(1) li:nth-child(10) {
    margin-bottom: 10px;
}
.over-part1 ul:nth-child(2) {
    padding-left: 30px;
    box-sizing: border-box;
}
.over-part1 ul:nth-child(3),
.over-part1 ul:nth-child(4),
.over-part1 ul:nth-child(5),
.over-part1 ul:nth-child(6){
    padding-left: 30px;
    box-sizing: border-box;
}
.over-part1 ul:nth-child(3) >.cha>ul{
    border-right: none;
}
.over-part1 ul:nth-child(3) >.cha:nth-child(1) ul {
    margin-right: 25px;
}
.over-part1 ul:nth-child(3) >.cha:nth-child(2) ul {
    margin-top: 25px;
}
.over-part1 ul:nth-child(3) >.cha:nth-child(2) ul>li {
    font-weight: normal;
}
nav .nav-list-content .over-part1 ul:nth-child(6) {
    border-right: none;
}
/* 把第一个大板块隐藏了 */
.nav-list-content {
    display: none;
}

/* 第二块 */
nav .nav-list-content {
    width: 100%;
    height: 380px;
    background-color: white;
    position: absolute;
    top: 101px;
    left: 0px;
}
nav .nav-list-content .container {
    padding-left: 160px;
}
 .nav-list-content .over-part2 ul {
    float: left;
    border-right: 1px solid #ccc;
    height: 300px;
}
.nav-list-content .over-part2>ul:nth-child(1) {
    position: relative;
}
.nav-list-content .over-part2>ul:nth-child(1) i {
    position: absolute;
    top: 25px;
    left: 54px;
    color: #aa1119;
    font-size: 12px;
}
.nav-list-content .over-part2 ul:nth-child(5) {
    height: 165px;

}
nav .nav-list-content .over-part2 ul:nth-child(1) {
    width: 130px;
}
nav .nav-list-content .over-part2 ul:nth-child(2) {
    width: 170px;
}
nav .nav-list-content .over-part2 ul:nth-child(3) {
    width: 333px;
}
nav .nav-list-content .over-part2 ul:nth-child(4),
nav .nav-list-content .over-part2 ul:nth-child(5)
 {
    width: 170px;
}
.nav-list-content .over-part2 li:nth-child(1) {
    font-weight: bold;
    font-size: 14px;
}
.nav-list-content .over-part2 ul li {
    font-size: 14px;
    margin: 10px 0;
}
.over-part2 {
    padding-top: 35px;
    box-sizing: border-box;
}
.nav-list-content .over-part2>ul:nth-child(1) li {
    margin: 0px 0px;
}
.over-part2 ul:nth-child(1) li:nth-child(1),
.over-part2 ul:nth-child(1) li:nth-child(7),
.over-part2 ul:nth-child(1) li:nth-child(8),
.over-part2 ul:nth-child(1) li:nth-child(9),
.over-part2 ul:nth-child(1) li:nth-child(10) {
    margin-bottom: 10px;
}
.over-part2 ul:nth-child(2) {
    padding-left: 30px;
    box-sizing: border-box;
}
.over-part2 ul:nth-child(3),
.over-part2 ul:nth-child(4),
.over-part2 ul:nth-child(5),
.over-part2 ul:nth-child(6){
    padding-left: 30px;
    box-sizing: border-box;
}
.over-part2 ul:nth-child(3) >div>ul{
    border-right: none;
}
.over-part2 ul:nth-child(3) >div:nth-child(1) ul {
    margin-right: 25px;
}
.over-part2 ul:nth-child(3) >div:nth-child(2) ul {
    margin-top: 25px;
}
.over-part2 ul:nth-child(3) >div:nth-child(2) ul>li {
    font-weight: normal;
}
nav .nav-list-content .over-part2 ul:nth-child(5) {
    border-right: none;
}
.nav-list-content .over-part2>ul:nth-child(1)>li:nth-child(1) {
    margin-top: 10px;
}
/* 把第二个大板块隐藏了 */
.nav-list-content {
    display: none;
}

/* 第三块 */

nav .nav-list-content {
    width: 100%;
    height: 380px;
    position: absolute;
    top: 101px;
    left: 0px;
    z-index: 1;
}
nav .nav-list-content .container {
    padding-left: 160px;
}
 .nav-list-content .over-part3 ul {
    float: left;
    border-right: 1px solid #ccc;
    height: 300px;
}
.nav-list-content .over-part3>ul:nth-child(1) {
    position: relative;
}
.nav-list-content .over-part3>ul:nth-child(1) i {
    position: absolute;
    top: 25px;
    left: 54px;
    color: #aa1119;
    font-size: 12px;
}
.nav-list-content .over-part3 ul:nth-child(5) {
    height: 165px;

}
nav .nav-list-content .over-part3 ul:nth-child(1) {
    width: 130px;
}
nav .nav-list-content .over-part3 ul:nth-child(2) {
    width: 170px;
}
nav .nav-list-content .over-part3 ul:nth-child(3) {
    width: 333px;
}
nav .nav-list-content .over-part3 ul:nth-child(4),
nav .nav-list-content .over-part3 ul:nth-child(5)
 {
    width: 170px;
}
.nav-list-content .over-part3 li:nth-child(1) {
    font-weight: bold;
    font-size: 14px;
}
.nav-list-content .over-part3 ul li {
    font-size: 14px;
    margin: 10px 0;
}
.over-part3 {
    padding-top: 35px;
    box-sizing: border-box;
}
.nav-list-content .over-part3>ul:nth-child(1) li {
    margin: 0px 0px;
}
 .over-part3 ul:nth-child(1) li:nth-child(1),
.over-part3 ul:nth-child(1) li:nth-child(2),
.over-part3 ul:nth-child(1) li:nth-child(3),
.over-part3 ul:nth-child(1) li:nth-child(4),
.over-part3 ul:nth-child(1) li:nth-child(5),
.over-part3 ul:nth-child(1) li:nth-child(6) {
    margin-bottom: 10px;
} 
.over-part3 ul:nth-child(2) {
    padding-left: 30px;
    box-sizing: border-box;
}
.over-part3 ul:nth-child(3),
.over-part3 ul:nth-child(4),
.over-part3 ul:nth-child(5),
.over-part3 ul:nth-child(6){
    padding-left: 30px;
    box-sizing: border-box;
}
.over-part3 ul:nth-child(3) >div>ul{
    border-right: none;
}
.over-part3 ul:nth-child(3) >div:nth-child(1) ul {
    margin-right: 25px;
}
.over-part3 ul:nth-child(3) >div:nth-child(2) ul {
    margin-top: 25px;
}
.over-part3 ul:nth-child(3) >div:nth-child(2) ul>li {
    font-weight: normal;
}
nav .nav-list-content .over-part3 ul:nth-child(5) {
    border-right: none;
}
.nav-list-content .over-part3>ul:nth-child(1)>li:nth-child(1) {
    margin-top: 10px;
}
.nav-list-content .over-part3>ul:nth-last-child(1) {
    position: relative;
}
.nav-list-content .over-part3>ul:nth-last-child(1) i {
    color: #aa1119;
    font-weight: normal;
    position: absolute;
    top: -2px;
    left: 85px;
}
.nav-list-content .over-part3>ul:nth-last-child(1) li:nth-child(4) {
    border-bottom: 1px solid #ccc;
    width: 210px;
  
}
/* 把第二个大板块隐藏了 */
.nav-list-content {
    display: none;
}
/* 登录框 */
main {
    position: relative;
    width: 100%;
    height: 600px;
    background-image: url(../images/login-01.jpg);
}
main .home-login {
    position: absolute;
    top: 50px;
    right: -250px;
    width: 500px;
    height: 550px;
    background-color: white;
    padding-left: 72px;
    padding-top: 81px;
    box-sizing: border-box;
}
.home-login .home-logo-top input {
    width: 358px;
    height: 42px;
    font-size: 14px;
    padding: 13px 16px 13px 14px;
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
}
.home-login .home-logo-top .login-switch {
    width: 358px;
    height: 41px;
    /* background-color: rosybrown; */
    margin-top: 15px;
}
.home-logo-top .login-switch input {
    float: left;
    width: 190px;
    height: 42px;
}
.home-logo-top .login-switch ul {
    float: left;
    width: 106px;
    height: 36px;
    margin-left: 20px;
    overflow: hidden;
    margin-top: 3px;
}

.login-switch ul li {
    display: none;
}
.login-switch ul li:nth-child(1) {
    display: block;
}

.home-login .home-logo-top input:nth-child(1) {
    margin-bottom: 15px;
}
.home-login .home-logo-top>a {
    display: inline-block;
    color: white;
    font-size: 14px;
    width: 362px;
    height: 51px;
    background-color:#000000;
    line-height: 51px;
    padding-left: 150px;
    box-sizing: border-box;
    margin-top: 15px;
}
.home-logo-top .home-logo-middle {
    position: relative;
    width: 362px;
    height: 14px;
    margin-top: 10px;
    display: none;
}
.home-logo-top .home-logo-middle>a {
    display: block;
    width: 14px;
    height: 14px;
    margin-right: 5px;
    background-color: red;
    padding-left: 6px;
    border-radius: 10px;
    padding-top: 2px;
    margin-top: 2.5px;
    box-sizing: border-box;

}
.home-logo-middle>a i:nth-child(1) {
    display: block;
    height: 6px;
    width: 2px;
    background-color: white;
}
.home-logo-middle>a i:nth-child(2) {
    display: block;
    height: 3px;
    width: 2px;
    background-color: white;
    margin-top: 2px;
}
.home-logo-middle span {
    position: absolute;
    top: 0px;
    left: 20px;
    color: red;
    line-height: 14px;
    width: 120px;
    height: 14px;    
    height: 14px;
}
.home-login .home-logo-bottom div {
    position: relative;
    width: 362px;
    height: 20px;
    box-sizing: border-box;
    margin-top: 50px;
}

.home-login .home-logo-bottom a:nth-child(1) {
    position: absolute;
    top: 7px;
    left: 0px;
    border-top: 1px solid #999;
    width: 133px;
}
.home-login .home-logo-bottom a:nth-child(2) {
    text-align: center;
    width: 100px;
    margin-left: 130px;
}

.home-login .home-logo-bottom a:nth-child(3) {
    position: absolute;
    top: -43px;
    right: 0px;

    margin-top: 50px;
    border-top: 1px solid #999;
    width: 133px;
}

.home-login .home-logo-bottom a {
    display: block;
    color: black;
    font-size: 14px;
}
.home-logo-bottom .oul {
    width: 362px;
    height: 30px;
    padding-left: 69px;
    box-sizing: border-box;
    margin-top: 20px;
}
.home-logo-bottom .oul li {
    float: left;
    width: 30px;
    height: 30px;
    margin: 0 12px;
}
.home-logo-bottom .oul li:hover {
    background-color: black;
    border-radius: 30px;
}
.home-logo-bottom .oul li img {
    width: 30px;
    height: 30px;
}
.home-logo-bottom .aul {
    width: 362px;
    height: 14px;
    margin-top: 40px;
}
.home-logo-bottom .aul li {
    float: left;
    font-size: 14px;
}
.home-logo-bottom .aul li:nth-child(1) {
    margin-left: 113px;

}
.home-logo-bottom .aul li i {
    margin: 0 10px;
    color: #ccc;
}
