* {
    margin: 0;
    padding: 0;
}
header {
    width: 100%;  
}
header .title-nav {
   width: 100%;
   height: 47px;
   border-bottom: 1px solid #ccc; 

}
header .title-nav .title {
    position: relative;
    float: right;
    margin-right: 70px;
}
.title-nav .title .title-left {
    float: left;
}
.title-nav .title .title-right {
    float: right;
    line-height: 47px;
}
.title .title-right span:nth-child(3) {
    font-size: 16px;
    line-height: 47px;
}
.title-nav div {
    float: left;
    color: #999;
    font-size: 14px;
    line-height: 47px;
}
.title-nav div a:hover {
    color: black;
    text-decoration: underline;
}
.title-nav div a {
    margin: 0 5px;
}
.title-nav .title span {
    font-size: 23px;
}
.title-nav .title span:nth-child(2) {
    margin-right: 30px;
}
.title-nav .title span:hover {
    color: black;
}
.title .title-right span:nth-child(3):hover {
    text-decoration: underline;

}
.title-nav .title-right .iconfont1 {
    margin:0 27px;
}
nav {
    position: relative;
    width: 100%; 
    height: 100px;
    border-bottom: 1px solid #ccc;
    clear: both;
}
nav .nav-logo img {
    float: left;
    width: 50px;
    height: 50px;
    margin-left: 346px;
    margin-top: 27px;
    margin-right: 450px;
}
nav .nav-list ul{
    float: right;
    overflow: hidden;
    margin: 0;
    padding: 0; 
    margin-right: 58px;
}
.nav-list ul li {
    position: relative;
    float: left;
    margin-right: 50px; 
     font-size: 17px;
    font-weight: 600;
    color: black;
     height: 100px; 
     line-height: 100px;
}
.nav-list li .red {
    display: block;
    width: 100%;
    height: 5px;
    background-color: red;
}
.nav-list li:nth-last-child(1) .nav-search {
width: 212px;
height: 40px;
line-height: 26px;
border: 1px solid #ccc;
border-radius: 5px;
vertical-align: middle;
display: inline-block;
padding: 6px 0;
box-sizing: border-box;
}
.nav-list li:nth-last-child(1) div .iconfont3 {
    width: 31px;
    height: 26px;
    border-right: 1px solid #ccc;
    display: inline-block;
    vertical-align: middle;
    font-weight: normal;
    padding-left: 15px;
}
.nav-list li:nth-last-child(1) div input {
    display: inline-block;
    border: 0;
    height: 26px;
    line-height: 26px;
    width: 158px;
    vertical-align: middle;
    color: #cccccc;
    font-size: 15px;
    text-indent: 10px;
    outline: 0;
}
.nav-list li span {
    position: absolute;
    top: 95px;
    left: 3px;
    width: 100%;
    height: 5px;
}
nav .active {
    background-color: red;
}
nav .nav-list-content {
    width: 100%;
    height: 380px;
    position: absolute;
    top: 101px;
    left: 0px;
}
 .nav-list-content .over-part1 ul {
    float: left;
    border-right: 1px solid #ccc;
    height: 300px;
}
.nav-list-content .over-part1 ul:nth-child(5) {
    height: 165px;

}
nav .nav-list-content .over-part1 ul:nth-child(1) {
    width: 130px;
}
nav .nav-list-content .over-part1 ul:nth-child(2) {
    width: 170px;
}
nav .nav-list-content .over-part1 ul:nth-child(3) {
    width: 333px;
}
nav .nav-list-content .over-part1 ul:nth-child(4),
nav .nav-list-content .over-part1 ul:nth-child(5),
nav .nav-list-content .over-part1 ul:nth-child(6)
 {
    width: 170px;
}
.nav-list-content .over-part1 li:nth-child(1) {
    font-weight: bold;
    font-size: 14px;
}
.nav-list-content .over-part1 ul li {
    font-size: 14px;
    margin: 10px 0;
}
.over-part1 {
    padding-top: 35px;
    box-sizing: border-box;
}
.nav-list-content .over-part1>ul:nth-child(1) li {
    margin: 0px 0px;
}
.over-part1 ul:nth-child(1) li:nth-child(1),
.over-part1 ul:nth-child(1) li:nth-child(7),
.over-part1 ul:nth-child(1) li:nth-child(8),
.over-part1 ul:nth-child(1) li:nth-child(9),
.over-part1 ul:nth-child(1) li:nth-child(10) {
    margin-bottom: 10px;
}
.over-part1 ul:nth-child(2) {
    padding-left: 30px;
    box-sizing: border-box;
}
.over-part1 ul:nth-child(3),
.over-part1 ul:nth-child(4),
.over-part1 ul:nth-child(5),
.over-part1 ul:nth-child(6){
    padding-left: 30px;
    box-sizing: border-box;
}
.over-part1 ul:nth-child(3) >.cha>ul{
    border-right: none;
}
.over-part1 ul:nth-child(3) >.cha:nth-child(1) ul {
    margin-right: 25px;
}
.over-part1 ul:nth-child(3) >.cha:nth-child(2) ul {
    margin-top: 25px;
}
.over-part1 ul:nth-child(3) >.cha:nth-child(2) ul>li {
    font-weight: normal;
}
nav .nav-list-content .over-part1 ul:nth-child(6) {
    border-right: none;
}
/* 把第一个大板块隐藏了 */
.nav-list-content {
    display: none;
}

/* 第二块 */
nav .nav-list-content {
    width: 100%;
    height: 380px;
    background-color: white;
    position: absolute;
    top: 101px;
    left: 0px;
}
nav .nav-list-content .container {
    padding-left: 160px;
}
 .nav-list-content .over-part2 ul {
    float: left;
    border-right: 1px solid #ccc;
    height: 300px;
}
.nav-list-content .over-part2>ul:nth-child(1) {
    position: relative;
}
.nav-list-content .over-part2>ul:nth-child(1) i {
    position: absolute;
    top: 25px;
    left: 54px;
    color: #aa1119;
    font-size: 12px;
}
.nav-list-content .over-part2 ul:nth-child(5) {
    height: 165px;

}
nav .nav-list-content .over-part2 ul:nth-child(1) {
    width: 130px;
}
nav .nav-list-content .over-part2 ul:nth-child(2) {
    width: 170px;
}
nav .nav-list-content .over-part2 ul:nth-child(3) {
    width: 333px;
}
nav .nav-list-content .over-part2 ul:nth-child(4),
nav .nav-list-content .over-part2 ul:nth-child(5)
 {
    width: 170px;
}
.nav-list-content .over-part2 li:nth-child(1) {
    font-weight: bold;
    font-size: 14px;
}
.nav-list-content .over-part2 ul li {
    font-size: 14px;
    margin: 10px 0;
}
.over-part2 {
    padding-top: 35px;
    box-sizing: border-box;
}
.nav-list-content .over-part2>ul:nth-child(1) li {
    margin: 0px 0px;
}
.over-part2 ul:nth-child(1) li:nth-child(1),
.over-part2 ul:nth-child(1) li:nth-child(7),
.over-part2 ul:nth-child(1) li:nth-child(8),
.over-part2 ul:nth-child(1) li:nth-child(9),
.over-part2 ul:nth-child(1) li:nth-child(10) {
    margin-bottom: 10px;
}
.over-part2 ul:nth-child(2) {
    padding-left: 30px;
    box-sizing: border-box;
}
.over-part2 ul:nth-child(3),
.over-part2 ul:nth-child(4),
.over-part2 ul:nth-child(5),
.over-part2 ul:nth-child(6){
    padding-left: 30px;
    box-sizing: border-box;
}
.over-part2 ul:nth-child(3) >div>ul{
    border-right: none;
}
.over-part2 ul:nth-child(3) >div:nth-child(1) ul {
    margin-right: 25px;
}
.over-part2 ul:nth-child(3) >div:nth-child(2) ul {
    margin-top: 25px;
}
.over-part2 ul:nth-child(3) >div:nth-child(2) ul>li {
    font-weight: normal;
}
nav .nav-list-content .over-part2 ul:nth-child(5) {
    border-right: none;
}
.nav-list-content .over-part2>ul:nth-child(1)>li:nth-child(1) {
    margin-top: 10px;
}
/* 把第二个大板块隐藏了 */
.nav-list-content {
    display: none;
}

/* 第三块 */

nav .nav-list-content {
    width: 100%;
    height: 380px;
    position: absolute;
    top: 101px;
    left: 0px;
}
nav .nav-list-content .container {
    padding-left: 160px;
}
 .nav-list-content .over-part3 ul {
    float: left;
    border-right: 1px solid #ccc;
    height: 300px;
}
.nav-list-content .over-part3>ul:nth-child(1) {
    position: relative;
}
.nav-list-content .over-part3>ul:nth-child(1) i {
    position: absolute;
    top: 25px;
    left: 54px;
    color: #aa1119;
    font-size: 12px;
}
.nav-list-content .over-part3 ul:nth-child(5) {
    height: 165px;

}
nav .nav-list-content .over-part3 ul:nth-child(1) {
    width: 130px;
}
nav .nav-list-content .over-part3 ul:nth-child(2) {
    width: 170px;
}
nav .nav-list-content .over-part3 ul:nth-child(3) {
    width: 333px;
}
nav .nav-list-content .over-part3 ul:nth-child(4),
nav .nav-list-content .over-part3 ul:nth-child(5)
 {
    width: 170px;
}
.nav-list-content .over-part3 li:nth-child(1) {
    font-weight: bold;
    font-size: 14px;
}
.nav-list-content .over-part3 ul li {
    font-size: 14px;
    margin: 10px 0;
}
.over-part3 {
    padding-top: 35px;
    box-sizing: border-box;
}
.nav-list-content .over-part3>ul:nth-child(1) li {
    margin: 0px 0px;
}
 .over-part3 ul:nth-child(1) li:nth-child(1),
.over-part3 ul:nth-child(1) li:nth-child(2),
.over-part3 ul:nth-child(1) li:nth-child(3),
.over-part3 ul:nth-child(1) li:nth-child(4),
.over-part3 ul:nth-child(1) li:nth-child(5),
.over-part3 ul:nth-child(1) li:nth-child(6) {
    margin-bottom: 10px;
} 
.over-part3 ul:nth-child(2) {
    padding-left: 30px;
    box-sizing: border-box;
}
.over-part3 ul:nth-child(3),
.over-part3 ul:nth-child(4),
.over-part3 ul:nth-child(5),
.over-part3 ul:nth-child(6){
    padding-left: 30px;
    box-sizing: border-box;
}
.over-part3 ul:nth-child(3) >div>ul{
    border-right: none;
}
.over-part3 ul:nth-child(3) >div:nth-child(1) ul {
    margin-right: 25px;
}
.over-part3 ul:nth-child(3) >div:nth-child(2) ul {
    margin-top: 25px;
}
.over-part3 ul:nth-child(3) >div:nth-child(2) ul>li {
    font-weight: normal;
}
nav .nav-list-content .over-part3 ul:nth-child(5) {
    border-right: none;
}
.nav-list-content .over-part3>ul:nth-child(1)>li:nth-child(1) {
    margin-top: 10px;
}
.nav-list-content .over-part3>ul:nth-last-child(1) {
    position: relative;
}
.nav-list-content .over-part3>ul:nth-last-child(1) i {
    color: #aa1119;
    font-weight: normal;
    position: absolute;
    top: -2px;
    left: 85px;
}
.nav-list-content .over-part3>ul:nth-last-child(1) li:nth-child(4) {
    border-bottom: 1px solid #ccc;
    width: 210px;
  
}
/* 把第二个大板块隐藏了 */
.nav-list-content {
    display: none;
}
main {
    width: 100%;
}
main .woman-Zone {
    width: 100%;
    padding-top: 61px;
    box-sizing: border-box;
    /* background-color: thistle; */
    text-align: center;
    padding-bottom: 50px;
}
.woman-Zone .woman-Zone-list img {
    width: 200px;
    height: 60px;
}
.woman-Zone-list ul {
    position: relative;
    margin-left: 370px;
}
.woman-Zone-list li {
    float: left;
    width: 120px;
    line-height: 25px;
    margin-top: 53px;
    /* background-color: yellowgreen; */
}
.woman-Zone-list li h4 {
    font-size: 17px;
    border-right: 2px solid #ccc;

}
.woman-Zone-list li p {
    color: #dddde4;
}
.woman-Zone-list li i {
    position: absolute;
    top: 38px;
    right: 354px;    display: inline-block;
    width: 40px;
    height: 15px;
    color: white;
    border-radius: 12px;
    background-color: red;
    line-height: 18px;
}
.woman-Zone-list li:nth-last-child(1) h4 {
    border-right: none;
}
main .green {
    width: 100%;
    height: 600px;
    background-image: url(../images/woman-01.jpg);
    background-repeat: no-repeat;
}
main .summer-girls {
    width: 100%;
    height: 865px;
    background-image: url(../images/woman-02.jpg);
    background-repeat: no-repeat;
}

main .Energetic-girl {
    width: 100%;
    height: 600px;
    background-image: url(../images/woman-03.jpg);
    background-repeat: no-repeat;
 
}
main .Season-selection {
    width: 100%;
}
.Season-selection .Season-selection-title {
    position: relative;
    width: 100%;
    height: 125px;
    /* background-color: skyblue; */
    text-align: center;
    padding-top: 50px;
    box-sizing: border-box;
}
.Season-selection .Season-selection-title i {
    font-family: MFMingHei;
    display: inline-block;
    font-style: italic;
    letter-spacing: 3px;
    transform: scaleY(1.5);
    font-size: 40px;
    font-weight: 600;
    transform: scaleY(1.2);
}
.Season-selection .Season-selection-title a {
    position: absolute;
    height: 34px;
    border: 1px solid #000;
    line-height: 32px;
    font-size: 15px;
    color: #000;
    padding: 0 16px;
    right: 0;
    top: 55px;
}
.Season-selection .Season-selection-contents {
    width: 100%;
    height: 415px;
    background-color: #f6f6f6;
}
.Season-selection .Season-selection-contents .Oli {
    float: left;
}
.Season-selection-contents {
    padding: 0px 15px;
    padding-top: 20px;
    box-sizing: border-box;
}
.Season-selection-contents .Oli {
    position: relative;
    float: left;
    width: 285px;
    height: 345px;
    background-color: white;
    margin-bottom: 6px;
}
.Season-selection-contents .Oli:nth-child(-n+3) {
    margin-right: 10px;

}
.Season-selection-contents .Oli .Oli-content {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 250px;
    width: 285px;
    height: 345px;
    padding: 15px;
    box-sizing: border-box;
    background-color: white;
}
.Season-selection-contents .Oli .Oli-content:hover {
    box-shadow:0px 0px 9px -2px grey;
}
 .Oli .Oli-content a {
    display:block;
    line-height: 25px;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.Oli .Oli-content p {
    margin-top: 7px;
}
.Oli .Oli-content p>span {
    display: inline-block;
    line-height: 25px;
    color: #000;
    font-size: 17px;
    font-weight: 500;
}
.Oli-content p>span i {
    font-size: 14px;
    color: #ccc;
    margin-left: 10px;
    text-decoration: line-through;
    display: none;
}
.Oli .lunbo {
    width: 100%;
    height: 40px;
    display: none;
}
 .Oli .lunbo li {
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    padding-top: 5px;
    box-sizing: border-box;
}
.Oli .lunbo li img {
    width: 30px;
    height: 30px;

} 
.Oli .Oli-content a img {
    width: 255px;
    height: 255px;
}
/* 热销推荐 */
.Best-Sellers {
 width: 100%;
 margin-top: 50px;
}
.Best-Sellers-title {
    position: relative;
    width: 100%;
    height: 125px;
    /* background-color: skyblue; */
    text-align: center;
    padding-top: 50px;
    box-sizing: border-box;

}
.Best-Sellers-title i {
    font-family: MFMingHei;
    display: inline-block;
    font-style: italic;
    letter-spacing: 3px;
    transform: scaleY(1.5);
    font-size: 40px;
    font-weight: 600;
    transform: scaleY(1.2);

}
.Best-Sellers-title a {
    position: absolute;
    height: 34px;
    border: 1px solid #000;
    line-height: 32px;
    font-size: 15px;
    color: #000;
    padding: 0 16px;
    right: 0;
    top: 55px;
    
}
.Best-Sellers .Best-Sellers-contents {
    width: 100%;
    height: 770px;
    background-color: #f6f6f6;
    padding: 20px 15px;
    box-sizing: border-box;
}
.Best-Sellers-left {
    float: left;
}
.Best-Sellers-right {
    float: right;
    width: 870px;
    height: 100%;
    /* background-color: slateblue; */
}
.Best-Sellers-right .Oli {
    position: relative;
    float: left;
    width: 285px;
    height: 345px;
    background-color: white;
    margin-bottom: 6px;

}
.Best-Sellers-right .Oli .Oli-content {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 250px;
    width: 285px;
    height: 345px;
    padding: 15px;
    box-sizing: border-box;
    background-color: white;
}
.Best-Sellers-right .Oli .Oli-content:hover {
    box-shadow:0px 0px 9px -2px grey;
}
.Best-Sellers-right .Oli:nth-child(-n+2) {
    margin-right: 7.5px;
}
.Best-Sellers-right .Oli:nth-child(-n+3) {
    margin-bottom: 11px;
}

.Best-Sellers-right .Oli:nth-last-child(-n+2) {
    margin-left: 7.5px;
}


/* 关注我们 */
main .we {
    background-color: red;
    width: 100%;
    height: 271px;
    margin-top: 50px;
}
main .we .we-content {
    position: relative;
    width: 100%;
    height: 271px;
    padding-top: 45px;
    box-sizing: border-box;
}
.we-content i:nth-child(1) {
    display: block;
    font-size: 38px;
    font-weight: bold;
    color: white;
    margin-left: 538px;
}
.we-content i:nth-child(2) {
    display: block;
    font-size: 20px;
    color: white;
    font-style: italic;
    margin: 0 auto;
    margin-left: 429px;
    margin-top: 10px;
}
.we .we-content-bottom {
    width: 200px;
    height: 70px;
    margin: 0 auto;
    margin-top: 30px;
}
.we .we-content-bottom .iconfont6 {
    float: left;
    font-size: 55px;
    color: white;
}
.we .we-content-bottom .iconfont7 {
    float: right;
    font-size: 55px;
    color: white;
}
.we .we-content-bottom .small-box img {
    width: 180px;
    height: 180px;
}
.we-content-bottom .small-box {
    position: absolute;
    top: -45px;
    left: 436px;
    width: 180px;
    height: 190px;
    /* background-color: wheat; */
    display: none;
}
.we-content-bottom .small-box img {
    position: relative;
}
.we .we-content-bottom .small-box .iconfont8 {
    position: absolute;
    top: 172px;
    left: 79px;
    font-size: 25px;
    color: white;
}
footer {
    width: 100%;
    height: 266px;
    background-color: #292929;
}
footer .footer-logo {
    float: left;
    width: 250px;
    height: 95px;
    margin-top: 67px;
    margin-right: 140px;
}
footer .footer-advertiser {
    float: right;
    width: 810px;
    height: 230px;
    padding-top: 45px;
    box-sizing: border-box;
}
.footer-advertiser .part1 {
    width: 100%;
    height: 100px;
    margin-bottom: 18px;
    margin-bottom: 20px;
    padding-left: 55px;
    box-sizing: border-box;
}
.footer-advertiser .part1-left {
    float: left;
    width: 360px;
    height: 100px;
    border-right: 1px solid white;
}
.footer-advertiser .part1-left p {
    font-size: 16px;
    color: white;
    margin-bottom: 20px;
}
.footer-advertiser .part1-left p a {
    display: inline-block;
    font-size: 35px;
    margin-left: 20px;
    color: white;
}
.footer-advertiser .part1-left p i {
    font-size: 30px;
    margin-left: 20px;

}
.footer-advertiser .part1-right {
    float: right;
    width: 90px;
    height: 90px;
    margin-right: 214px;
    margin-top: 5px;
}
.footer-advertiser .part1-right img {
    width: 90px;
    height: 90px;

}
.footer-advertiser .part2 {
    width: 100%;
    height: 44px;
}
.footer-advertiser .part2 li {
    float: left;
    font-size: 14px;
    color: white;
    margin-right: 10px;
    line-height: 22px;
}
.slideBar {
    background-image: url(../images/web-cover.svg);
    position: fixed;
    right: 50px;
    bottom: 320px;
    width: 60px;
    height: 275px;   
    border-radius: 30px;
    z-index: 999;
}
.slideBar a {
    display: block;
    width: 60px;
    height: 85px;  
    
}